<?xml version="1.0"?>
<!--
/**
 * @category    MartinDines
 * @package     MartinDines_AjaxCompare
 * @author      Martin Dines <martin.dines@live.co.uk>
 */
-->
<config>
    <modules>
        <MartinDines_AjaxCompare>
            <version>0.0.1</version>
        </MartinDines_AjaxCompare>
    </modules>
    <global>
        <blocks>
            <martindines_ajaxcompare>
                <class>MartinDines_AjaxCompare_Block</class>
            </martindines_ajaxcompare>
            <core>
                <rewrite>
                    <messages>MartinDines_AjaxCompare_Block_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <martindines_ajaxcompare>
                <class>MartinDines_AjaxCompare_Helper</class>
            </martindines_ajaxcompare>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <martindines_ajaxcompare>
                    <file>martindines_ajaxcompare.xml</file>
                </martindines_ajaxcompare>
            </updates>
        </layout>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <MartinDines_AjaxCompare before="Mage_Catalog">MartinDines_AjaxCompare</MartinDines_AjaxCompare>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
</config>